.header {
  background-color: rgb(150, 10, 10);
  padding: 1px;
  margin-top: 40px;
  color: white;
  display: flex; 
}


.back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 90px; 
  margin-left: 10px;
  color: white;
}

.content {
  padding: 3px;
  background-color: #B92F23;
}

.content p {
  color: white;
  margin-left: 20px;
  margin-top: 1px;
}

.detail p {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
}
