<div *ngIf="profileData" class="profile-container">
  <img [src]="profileData.avatar" alt="Profile Avatar" class="avatar" />
  <div class="info-container">
    <h2>{{ profileData.name }}</h2>
    <p>{{ profileData.job }}</p>
    <div class="follow">
      <div class="follow-column">
        <p class="follow-label" (click)="goToFollowerPage()">Followers:</p>
        <p class="follow-value">{{ profileData.followers | numberFormat}}</p>
      </div>
      <div class="vertical-divider"></div> 
      <div class="follow-column">
        <p class="follow-label" (click)="goToFollowingsPage()">Followings:</p>
        <p class="follow-value">{{ profileData.following | numberFormat}}</p>
      </div>
    </div>
  </div>
</div> 

<!-- <div class="task-container">
  <button (click)="goToAddTaskPage()" class="add-task-button">Add Task</button>
  <div *ngFor="let task of tasks" class="task-box" [style.background-color]="'#B92F23'" (click)="goToTaskDetailPage(task.id)">
    <button class="edit-button" (click)="editTask(task.id)">Edit</button>
    <button class="delete-button" (click)="deleteTask(task.id)">Delete</button>
    <p>{{ task.name }}</p>
    <p>Date: {{ task.date | date: 'short' }}</p>
  </div>
</div> -->

<div class="task-container">
  <div class="task-header">
    <div class="add-task-button-container">
      <button (click)="goToAddTaskPage()" class="add-task-button">Add Task</button>
    </div>
  </div>
  <div *ngFor="let task of tasks" class="task-box" [style.background-color]="'#B92F23'" (click)="goToDetailLocal(task.id)">
    <button class="edit-button" (click)="editTask(task.id)">Edit</button>
    <button class="delete-button" (click)="deleteTask(task.id)">Delete</button>
    <p>{{ task.topic }}</p>
    <p>{{ task.date | date: 'short' }}</p>
  </div>
</div>



